h1 {
    color: orange;
    text-align: center;
}

.mainDiv {
    text-align: center;
    background-color: white;
    width: auto;
    height: auto;
    font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.userHeader {
    text-align: right;
    background-color: lightblue;
    width: auto;
    height: auto;
    font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.mapTable {
    text-align: center;
    padding: 15px;
    border-collapse: collapse;
    border: 1px solid black;    
    width: 900px;
    margin: auto;
}

.mapTableHeader {
    border: 1px solid black;
}

.mapTableCell {
    border: 1px solid black;
}

.mapTable tr:hover {
          background-color: lightblue;
}

.termToConceptMapValuesTable {
	align: center;
    text-align: center;
    padding: 15px auto;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;    
    width: 500px;
    border: 1px solid black;
}

.termToConceptMapValuesTableHeader {
	border: 1px solid black;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.editMappingLink {
	text-align: right;
	border: 0px;
}

.termToConceptMapValuesTableCell {
	border: 1px solid black;
}

.selectedString {
	color: black;
	font-style: bold;
	text-align: left;
	border: 1px solid black;
}

.normalString {
	color: gray;
	font-style: italic;
	text-align: right;
	border: 1px solid black;
}

.link {
	width: 260px;
	height: 35px;
	background: lightblue;
	border: 3px solid #black;
	cursor: pointer;
	border-radius: 3px;
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-decoration: none;
}

.link:hover {
	width: 260px;
	height: 35px;
	background: lightblue;
	border: 3px solid #black;
	cursor: pointer;
	border-radius: 3px;
	color: red;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-decoration: none;
}

.header {
	background: lightblue;
	border: 1px solid black;
}

.searchResult {
	text-align: left;
	border: 1px solid black;
}

.searchResultCentered {
	text-align: center;
	border: 1px solid black;
}

.login {
	border-style: solid;
    border-width: 1px;
    border-color: rgba(130,130,130,0.6);
    background-color: lightblue;
	position: absolute;
	top: calc(50% - 175px);
	left: calc(50% - 250px);
	height: 160px;
	width: 340px;
	padding: 10px;
	z-index: 2;
}

#searchButton {
	width: 100px;
	height: 30px;
	background: rgba(200,200,200,0.6);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: rgba(20,20,20,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

#searchInput {
	width: 200px;
	height: 18px;
	background: white;
	border: 1px solid rgba(130,130,130,0.6);
	border-radius: 2px;
	color: rgba(80,80,80,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.warningMessage {
	color: rgba(200,20,20,1);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.editMap {
	border-style: solid;
    border-width: 1px;
    border-color: rgba(130,130,130,0.6);
    background-color: lightblue;
	position: absolute;
	top: calc(50% - 175px);
	left: calc(50% - 250px);
	height: 280px;
	width: 340px;
	padding: 10px;
	z-index: 2;
}

.changePassword {
	border-style: solid;
    border-width: 1px;
    border-color: rgba(130,130,130,0.6);
    background-color: lightblue;
	position: absolute;
	top: calc(50% - 175px);
	left: calc(50% - 250px);
	height: 240px;
	width: 340px;
	padding: 10px;
	z-index: 2;
}

.mainDiv input[type=text]{
	width: 250px;
	height: 30px;
	background: white;
	border: 1px solid rgba(130,130,130,0.6);
	border-radius: 2px;
	color: rgba(80,80,80,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.mainDiv input[type=password]{
	width: 250px;
	height: 30px;
	background: white;
	border: 1px solid rgba(130,130,130,0.6);
	border-radius: 2px;
	color: rgba(80,80,80,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.mainDiv input[type=submit]{
	width: 260px;
	height: 35px;
	background: rgba(200,200,200,0.6);
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: rgba(50,50,50,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.mainDiv p {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}

.tableLink {
	width: 260px;
	height: 35px;
	border: 3px solid #black;
	cursor: pointer;
	border-radius: 3px;
	color: rgba(30,30,200,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-decoration: none;
}

.tableLink:hover {
	width: 260px;
	height: 35px;
	border: 3px solid #black;
	cursor: pointer;
	border-radius: 3px;
	color: red;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	text-decoration: none;
}

.homeLink {
	text-decoration: none;
	color: blue;
}

.homeLink:hover {
	text-decoration: none;
	color: red;
}